<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Citizen Science</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />

    <!-- Include Handlebars from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/static/js/main.js" type="module" defer></script>
  </head>
  <body>
    <header>
      <div id="logo"></div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#!/users">Users</a></li>
          <li><a href="#!/observations">Observations</a></li>
          <li><a href="#!/submit">Submit an observation</a></li>
        </ul>
      </nav>
    </header>

    <div id="content">
      <div id="heading">
        <hgroup>
          <h1>Citizen Science</h1>
          <h2>Understanding Our Trees</h2>
        </hgroup>

        <div id="target"></div>
      </div>

      <div id="othercontent"></div>
    </div>

    <footer>
      <div id="social">
        <ul>
          <li id="social-twitter"><a href="#">Twitter</a></li>
          <li id="social-facebook"><a href="#">Facebook</a></li>
          <li id="social-instagram"><a href="#">Instagram</a></li>
        </ul>
      </div>

      <ul class="footer-tos">
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Cookies</a></li>
      </ul>

      <p id="copyright">
        All content and images subject to copyright &copy; COMP2110 Citizen
        Science 2020.
      </p>
    </footer>

    <!-- Templates -->

    <script id="observationsRecent" type="text/x-handlebars-template">
      <ol>
        <h2>
          Recent Observations
        </h2>
        {{#each obData}}
          <li>
            <a href="/#!/observations/{{id}}">
              Observation #{{id}}
            </a>
          </li>
        {{/each}}
      </ol>
    </script>
    <script id="userList" type="text/x-handlebars-template">
      <ol>
        <h2>
          Top Ten Users
        </h2>
        {{#each userData}}
          <li>
            <a href="/#!/users/{{id}}">
              {{first_name}}, {{last_name}}
            </a>
          </li>
        {{/each}}
      </ol>
    </script>
    <script id="listusercontent" type="text/x-handlebars-template">
      <h2>
        Users
      </h2>
      <table>
        <tr>
          <th>
            Place
          </th>
          <th>
            Name
          </th>
        </tr>
        {{#each content}}
          <tr>
            <td>
              {{counter @index}}
            </td>
            <td>
              <a href="/#!/users/{{id}}">
                {{first_name}} {{last_name}}
              </a>
            </td>
          </tr>
        {{/each}}
      </table>
    </script>
    <script id="listobscontent" type="text/x-handlebars-template">
      <h2>
        All Observations
      </h2>
      <table>
        <tr>
          <th>
            Location & Weather
          </th>
          <th>
            Observation Number
          </th>
        </tr>
        {{#each content}}
          <tr>
            <td>
              <a href="/#!/observations/{{id}}">
                {{location}}, {{weather}}
              </a>
            </td>
            <td>
              Observation #{{id}}
            </td>
          </tr>
        {{/each}}
      </table>
    </script>
    <script id="obsdetailed" type="text/x-handlebars-template">
      <a href="javascript: history.go(-1)">
        < Back To Previous Page</a>
      <h2>
        Observation #{{id}} posted on {{datetime timestamp}}
      </h2>
      <P>
        Below is the details of this observation
      </P>
      <ul>
        <li>
          <p>
            Participant Id: {{participant}}
          </p>
        </li>
        <li>
          <p>
            Temperature: {{temperature}}
          </p>
        </li>
        <li>
          <p>
            Weather: {{weather}}
          </p>
        </li>
        <li>
          <p>
            Wind: {{wind}}
          </p>
        </li>
        <li>
          <p>
            Location: {{location}}
          </p>
        </li>
        <li>
          <p>
            Height: {{height}}
          </p>
        </li>
        <li>
          <p>
            Girth: {{girth}}
          </p>
        </li>
        <li>
          <p>
            Leaf Size: {{leaf_size}}
          </p>
        </li>
        <li>
          <p>
            Leaf Shape: {{leaf_shape}}
          </p>
        </li>
        <li>
          <p>
            Bark Colour: {{bark_colour}}
          </p>
        </li>
        <li>
          <p>
            Bark Texture: {{bark_texture}}
          </p>
        </li>
      </ul>
    </script>
    <script id="HomePage" type="text/x-handlebars-template">
      {{> recentObs}}
      {{> topTen}}
    </script>
    <script id="usdetailed" type="text/x-handlebars-template">
      <a href="javascript: history.go(-1)">
        < Back To Previous Page
      </a>
      <h2>
        Details on {{first_name}}, {{last_name}}
      </h2>
      <P>
        Below is the User Details
      </P>
      <p>
        <img src="{{avatar}}">
      </p>
      <h3>
        Recent User's Observations
      </h3>
      <table>
        <tr>
          <th>
            Location & Weather
          </th>
          <th>
            Observation Number
          </th>
        </tr>
        {{#each observations}}
          <tr>
            <td>
              <a href="/#!/observations/{{id}}">
                {{location}}, {{weather}}
              </a>
            </td>
            <td>
              Observation #{{id}}
            </td>
          </tr>
        {{/each}}
      </table>
    </script>
    <script id="form" type="text/x-handlebars-template">
      <form>
        <label for="temp">
          Temperature:
        </label>
        <input type="number" id="temp" name="temperature" min="0" />
        <label for="weather">
          Weather:
        </label>
        <select id="weather" name="weather">
          <option value="fine" selected>
            Fine
          </option>
          <option value="raining">
            Raining
          </option>
          <option value="sunny">
            Sunny
          </option>
          <option value="stormy">
            Stormy
          </option>
        </select>
        <label for="wind">
          Wind:
        </label>
        <select id="wind" name="wind">
          <option value="none" selected>
            None
          </option>
          <option value="light">
            Light
          </option>
          <option value="medium">
            Medium
          </option>
          <option value="strong">
            Strong
          </option>
        </select>
        <label for="location">
          Location:
        </label>
        <input id="location" type="text" name="location" />
        <label for="height">
          Height:
        </label>
        <input type="number" id="height" name="height" min="0" />
        <label for="girth">
          Girth:
        </label>
        <input type="number" id="girth" name="girth" min="0" />
        <label for="leaf_size">
          Leaf Size:
        </label>
        <select id="leaf_size" name="leaf_size">
          <option value="small" selected>
            Small
          </option>
          <option value="<medium>">
            Medium
          </option>
          <option value="large">
            Large
          </option>
        </select>
        <label for="leaf_shape">
          Leaf Shape:
        </label>
        <select id="leaf_shape" name="leaf_shape">
          <option value="rounded" selected>
            Rounded
          </option>
          <option value="pointy">
            Pointy
          </option>
          <option value="divided">
            Divided
          </option>
          <label for="bark_colour">
            Bark Colour:
          </label>
          <select id="bark_colour" name="bark_colour">
            <option value="none" selected>
              None
            </option>
            <option value="light">
              Light
            </option>
            <option value="medium">
              Medium
            </option>
            <option value="strong">
              Strong
            </option>
          </select>
          <label for="bark_texture">
            Bark Texture:
          </label>
          <select id="wind" name="wind">
            <option value="none" selected>
              None
            </option>
            <option value="light">
              Light
            </option>
            <option value="medium">
              Medium
            </option>
            <option value="strong">
              Strong
            </option>
          </select>
        </select>
      </form>
    </script>
  </body>
</html>
